    body {
    font-family: 'Inter', sans-serif;
    }
    
    .navbar {
        background-color: #4988BF;
    }
    
    #cabecalho .nav .nav-link.active {
        background-color: #fff;
        color: #9C4356;
        ;
    }
    
    #cabecalho .nav .nav-link,
    .navbar-brand,
    .navbar-brand:hover,
    .nav-servicos .nav-link.active:hover {
        color: #fff;
    }
    
    .navbar-toggler {
        background-color: #ffeae6;
    }
    
    .section-title {
        font-family: 'Martel', serif;
    }
    
    #sobre-nos, #servicos {
        background-color: #ffeae6;
    }
    
    .text-colored {
        color: #9C4356;
    }
    
    .nav-servicos .nav-link.active,
    #fale-conosco button {
        background-color: #9C4356;
        color: #fff;
    }
    
    .nav-servicos .nav-link:hover {
        color: #9C4356;
    }
    
    .social-link li {
        list-style: none;
        display: inline;
    }
    
    .social-link a {
        text-decoration: none;
    }
    
    @media (max-width: 767px) {
        .carousel-item img {
            height: 280px
        }
    }

    .logo {
        color: #fff;
    }